/* CardIconsBlock.css */

.trains-menu_icons-block {
  padding: 15px 20px;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  border-top: 1px dashed #e5e5e5;
}

.icon_wifi,
.icon_rocket,
.icon_coffee {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.icon_wifi {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23928F94"><path d="M12 21c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm6-7c-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4 2.5-2.5 2.5-6.6 0-9.1-.4-.4-.4-1 0-1.4s1-.4 1.4 0c3.1 3.1 3.1 8.2 0 11.3-.2.2-.5.3-.7.3zm-3.9-1.1c-.4-.4-.4-1 0-1.4 1.7-1.7 1.7-4.5 0-6.2-.4-.4-.4-1 0-1.4s1-.4 1.4 0c2.3 2.3 2.3 6.1 0 8.5-.2.1-.5.2-.7.2s-.5-.1-.7-.3zm-2.9-2.8c-.4-.4-.4-1 0-1.4.7-.7.7-1.9 0-2.6-.4-.4-.4-1 0-1.4s1-.4 1.4 0c1.5 1.5 1.5 3.9 0 5.4-.2.2-.5.3-.7.3s-.5-.1-.7-.3z"/></svg>');
}

.icon_rocket {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23928F94"><path d="M12 2.5s4.5 2.04 4.5 10.5c0 2.49-1.04 4.5-2.5 4.5h-4c-1.46 0-2.5-2.01-2.5-4.5C7.5 4.54 12 2.5 12 2.5zm2.5 9c0-1.38-1.12-2.5-2.5-2.5s-2.5 1.12-2.5 2.5 1.12 2.5 2.5 2.5 2.5-1.12 2.5-2.5zM12 0C9.93 0 6 2.46 6 13c0 3.48 2.5 6.5 6 6.5h.5v3.5l4.5-4-4.5-3.5V19h-.5c-2.21 0-4-2.02-4-4.5 0-3.26 2-9 4-9 .55 0 1 .45 1 1s-.45 1-1 1c-.95 0-2 3.99-2 7.5 0 1.93 1.57 3.5 3.5 3.5s3.5-1.57 3.5-3.5c0-3.51-1.05-7.5-2-7.5-.55 0-1-.45-1-1s.45-1 1-1c2 0 4 5.74 4 9 0 2.48-1.79 4.5-4 4.5h-.5v1.5l4.5 4 4.5-4V19h.5c3.5 0 6-3.02 6-6.5C24 2.46 20.07 0 18 0h-6z"/></svg>');
}

/* Простая иконка кофе вместо огромной кружки */
.icon_coffee {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23928F94"><path d="M18 6h2v10h-2zM4 19h14c1.1 0 2-.9 2-2v-2H2v2c0 1.1.9 2 2 2zM20 4H4c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 10H4V6h16v8z"/></svg>');
}

.icon_wifi.active,
.icon_rocket.active,
.icon_coffee.active {
  opacity: 1;
}

.icon_wifi:not(.active),
.icon_rocket:not(.active) {
  filter: grayscale(100%);
}