/* HowItWorks.css */
.how-it-works {
  height: 575px;
  position: relative;
  overflow: hidden;
}

.how-it-works::before {
  content: "";
  position: absolute;
  height: 575px;
  width: 100%;
  z-index: -1;
  background: linear-gradient(rgba(255, 168, 0, 0.8), rgba(0, 0, 0, 0.25)),
    url("../../img/banner2.png") center/cover;
  background-repeat: no-repeat;
}

.how-it-works__title {
  width: 347px;
  margin-top: 69px;
  margin-left: 250px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  z-index: 1;
  float: left;
}

.how-it-works__btn {
  width: 325px;
  height: 60px;
  margin-top: 69px;
  margin-right: 261px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  float: right;
}

.how-it-works__btn:hover {
  color: #2d2b2f;
  background: #ffca62;
  border: 1px solid #ffca62;
}

.how-it-works__btn:active {
  color: #2d2b2f;
  background: #ffa800;
  border: 1px solid #ffa800;
}

.how-it-works-puncts {
  display: flex;
  margin-left: 511px;
  margin-right: 525px;
  margin-top: 107px;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  clear: both;
}

.how-it-works__icon {
  width: 135px;
  height: 135px;
  margin-left: 13px;
  margin-top: 13px;
  position: relative;
  z-index: 2;
}

.card.how-it-works-puncts-item {
  background-color: transparent;
  border: none;
  max-width: 200px;
  position: relative;
}

.how-it-works__img {
  position: relative;
  width: 162px;
  height: 162px;
  margin: 0 auto;
}

.how-it-works__img::before {
  content: "";
  position: absolute;
  width: 162px;
  height: 162px;
  background: url("../../img/ic_ellipse.svg") center/cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: 1;
}

.how-it-works-puncts-item__title {
  margin: 0 auto;
  margin-top: 34px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #e5e5e5;
  width: 225px;
}

/* Очистка float */
.row.no-gutters::after {
  content: "";
  display: table;
  clear: both;
}