.screening-block_payment {
  margin-top: 45px;
}

.card.screening-block_card {
  width: 959px;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
}

.screening-block_card-top {
  height: 95px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.screening-block_card_title {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #292929;
}

.screening-block_card-body {
  border-top: 1px solid #928f94;
}

.card-body.screening-payment {
  padding: 0;
  height: 146px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #928f94;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #292929;
}

.screening-payment_text {
  margin-top: 44px;
  margin-left: 33px;
}

.screening-payment_control {
  width: 280px;
  border-left: 1px dashed #e5e5e5;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.screening_btn.btn.text-center {
  width: 233px;
  height: 39px;
  margin-right: 22px;
  margin-bottom: 21px;
  border: 1px solid #292929;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #292929;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.screening_btn.btn.text-center:hover {
  background-color: #f5f5f5;
  border-color: #000;
}

.screening_btn.btn.text-center:active {
  transform: scale(0.98);
}