.screening-block_train {
  margin-top: 95px;
  margin-right: 257px;
}

.screening-train_card.card {
  border: none;
  display: flex;
  flex-direction: row;
}

.card.screening-block_card {
  width: 959px;
  border: 1px solid #c4c4c4;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 30%);
}

.screening-block_card-top {
  height: 95px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.screening-block_card_title {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #292929;
}

.card-top.screening-train {
  width: 197px;
  display: flex;
  flex-direction: column;
  background: #e4e0e9;
}

.screening-train-svgIcon-wrap {
  margin-top: 58px;
  margin-left: 43px;
}

.screening-train.trains-number {
  margin-left: 30px;
  margin-top: 17px;
}

.screening-block_card-body {
  border-top: 1px solid #928f94;
}

.card-body.screening-train {
  padding: 0;
  padding-left: 39px;
  padding-top: 54px;
  padding-right: 36px;
  width: 479px;
}

.screening-train-group.d-flex.flex-row {
  justify-content: space-between;
}

.screening-train-reverse-group.d-flex.flex-row {
  margin-top: 63px;
}

.trails-duration-block > .screening-train-svgIcon-wrap {
  margin-top: 7px;
  margin-left: 3px;
}

img.screening-train-reverse__icon {
  transform: rotate(180deg);
}

.card-bottom.screening-train_bottom {
  width: 282px;
  border-left: 1px dashed #e5e5e5;
}

.screening-available-vagons {
  padding-left: 27px;
  padding-right: 22px;
  margin-top: 41px;
}

.screening-train_icons-block {
  color: #c4c4c4;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  margin-right: 28px;
}

.screening-train_control {
  margin-top: 17px;
  display: flex;
  justify-content: flex-end;
}