.personal-data_form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.passengers-data_fullname {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin: 0 !important;
}

.group-fullname {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.passengers-data_fullname_label {
  font-size: 16px;
  font-weight: 500;
  color: #292929;
}

.group-contacns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.group-contacts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Адаптивность */
@media (max-width: 768px) {
  .passengers-data_fullname,
  .group-contacns {
    grid-template-columns: 1fr;
  }
}